.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.button-container {
    display: table-caption;
    
}


#information {
    display: grid;
    border: 2px solid black;
    width: 13em;
}

#shape-display {
    position: relative;
    background-color: rgb(59, 161, 184);
    width: 600px;
    height: 600px;
}
.shapeContainer{
    
}

.shape-container-template {
    display: none;
}
.triangle {
    position: absolute;
    width: 0;
	height: 0;
}
.circle {
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: rgb(93, 38, 165);
    border-radius: 50%;
}
.square {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: rgb(199, 12, 12);
}
.rectangle{
    position: absolute;
    /* height: 50px;
    width: 100px; */
    background-color: rgb(233, 233, 233);
}